[child]
# program to run in child process
program=bash

[window]
# opacity of background from 0 (fully transparent) to 255 (fully opaque)
opacity=255

# render a margin to exactly match window size hints from the compositor
margin=yes

# request server side decorations if available by the compositor [yes|no|auto]
decorations=auto

[terminal]
# size of terminal
rows=33
columns=93

# number of lines to keep in scrollback
scrollback=9999999999

[font]
# height of a single glyph in pixels
font=DejaVuSansMono
font-size=12

# absolute path to a truetype font
#path=/usr/share/fonts/TTF/DejaVuSansMono.ttf
path=/home/void/.local/share/fonts/TTF/DejaVuSansMono.ttf

[bind]
# bind keys to actions
C-S-c=copy
C-S-v=paste
C-S-r=reset
C-S-Delete=hard reset
C-S-j=scroll down
C-S-k=scroll up
C-S-Page_Down=scroll down page
C-S-Page_Up=scroll up page
C-S-End=scroll to bottom
C-S-Home=scroll to top

[colors]

foreground=#373737
background=#F2F3FC

color0=#000000
color1=#993030
color2=#0C8B72
color3=#EAF34C
color4=#5378B6
color5=#7C77E1
color6=#788EB5
color7=#D4D9DF

color8=#333333
color9=#FF6E67
color10=#22514B
color11=#F4F99D
color12=#5B84C8
color13=#9F9CE1
color14=#788EB5
color15=#E6E6E6

