/*colors*/

@define-color colbg        #D3DAE3;
@define-color colbg1       #CCD2DC;
@define-color colbg2       #C2C5CE;
@define-color colbg4       rgba(0,0,0, 0.1);
@define-color colbg5       #777777;
@define-color colfg        #555555;
@define-color colfg3       #eeeeee;
@define-color colgrey      #bfc3cb;
@define-color colcyan      #80cbc4;
@define-color colgreen     #c3e88d;
@define-color colorange    #f78c6c;
@define-color colmagenta   #c792ea;
@define-color colviolet    #bb80b3;
@define-color colred       #ff5370;
@define-color colyellow    #ffcb6b;
@define-color shadowbar    #CCD2DC;


* {
    /*all: initial; Ignore gtk theme*/ 
    /* border: none;*/
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "sans-serif";
    /* font-family: "ComicShannsMono Nerd Font","Roboto", "Helvetica", "Arial", "sans-serif"; */
    font-size: 13px;
    min-height: 0;
    /* opacity: 0.0; */
    /* color: @colfg; */
}



window#waybar {
    background-color: @colbg;
    /* color: @colfg; */
    /*
    border-radius: 20px;    
    */
    border-radius: 20px; 
    transition-property: background-color;
    transition-duration: .1s;
    border: 1px solid @colbg5;
    box-shadow: 0 0 0 1px @shadowbar inset; /* external glow for consistency */
    /*border: 0.7px solid @colbg5;*/
    /* opacity: 1.0;  */
}

window#waybar.empty #window {
	background: transparent;
}

#tags button  {
    background-color: @colbg;
    padding: 0 10px;
    border-radius: 90px;
    min-width: 10px;
    color: @colgrey;
    }

#tags button.occupied  {
    background-color: @colbg2;
    color: @colfg;
}
#tags button.focused{
    background-color: @colgrey; 
    color: @colfg;
}


#window {
    color: @colgreen;
}

#workspaces button  {
    background-color: @colbg;
    padding: 3px;
    border-radius: 10px;
    min-width: 20px;
    color: #777777;
}
#workspaces button.active{
    background-color: @colbg2;
    border-bottom: 2px solid #5378B6;
    color: @colfg;
}
#workspaces button.urgent{
    background-color: @colred;
    color: @colfg;
}

#workspaces button.hidden{
    background-color: @colbg; 
    color: @colfg;
}

#window {
    color: #5378B6;
}

#tags button{
    background-color: @colbg;
    padding: 3px;
    border-radius: 10px;
    min-width: 20px;
    color: #777777;
}

#tags button.occupied{
    background-color: @colbg2;
    padding: 3px;
    border-radius: 10px;
    min-width: 20px;
    color: #dddddd;
}

#tags button.focused{
    background-color: @colgrey;
    border-bottom: 2px solid #5378B6;
    color: @colfg;
}

#tags button.urgent{
    background-color: @colred;
    color: @colfg;
}

 /* #custom-dwl_layout { */
 /*     color: @colgreen; */
 /* } */

 /* #custom-dwl_title { */
 /*     color: @colmagenta; */
 /* } */

 /* #custom-dwl_tag { */
 /*     color: @colgrey */
 /* } */

 /* #custom-dwl_tag.selected { */
 /*     border-top: 1px solid @colmagenta */
 /* } */

 /* #custom-dwl_tag.urgent { */
 /*     background-color: @colred */
 /*     } */

 /* #custom-dwl_tag.active { */
 /*     color: @colfg */
 /* } */

#window {
     background: @colbg2; 
     padding: 0 10px;
     margin: 3px 3px 3px 3px;
     border-radius: 90px;
     background-clip: padding-box;
 }
 
#wlr-taskbar {
     background: @colbg2; 
     padding: 0 10px;
     margin: 3px 3px 3px 3px;
     border-radius: 90px;
     background-clip: padding-box;
     opacity: 1.0;
 }

#battery,
#clock,
#cpu,
#memory,
#network,
#custom-alsa,
#custom-keys,
#custom-grab,
#wlr-taskbar,
#pulseaudio,
#tray
{
  background: @colbg2; 
  padding: 0 10px;
  margin: 3px 3px 3px 3px;
  border-radius: 90px;
  background-clip: padding-box;
  opacity: 1.0;
  color: @colfg; 
}


#custom-closebutton{
    border-bottom: 2px solid #5378B6;
    color: #5378B6;
    background-color: @colbg2;
    border-radius: 90px;
    margin: 3px 3px 3px 3px;
    background-clip: padding-box;
    opacity: 1.0;
}

#custom-floatbutton{
    border-bottom: 2px solid #5378B6;
    color: #5378B6;
    background-color: @colbg2;
    border-radius: 90px;
    margin: 3px 3px 3px 3px;
    background-clip: padding-box;
    opacity: 1.0;
}


#custom-menu{
    background-color: @colbg2;
    border-radius: 90px;
    color: @colfg;
    background-image: url("/home/void/.config/waybar/nixos.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 37px; 
    margin: 3px 3px 3px 3px;
}

#custom-session{
    background-color: @colbg2;
    color: @colred;
    margin: 3px 3px 3px 3px;
    border-radius: 90px;
}

#mode {
     background: @colbg2;
     color: #5378B6;
     padding: 0 1px;
     margin: 3px 3px 3px 3px;
     border-radius: 90px;
     background-clip: padding-box;
}

/* empty persistent workspaces */
#workspaces button.empty {
  background-color: transparent;
  padding: 0 1px;
  margin: 3px 3px 3px 3px;
}

/* non-empty workspaces */
#workspaces button {
  background-color: @colbg1;
  padding: 0 1px;
  margin: 3px 3px 3px 3px;
}

/* active or visible workspaces */

#workspaces button.visible {
  background-color: @colbg2;
  padding: 0 1px;
  margin: 3px 3px 3px 3px;
}
