[Desktop Entry]
Encoding=UTF-8
Name=Edit
Exec=/home/void/.sh/Edit
MimeType=text/plain
Icon=/home/void/.icons/Breeze-Blue-Dark/apps/48/author.svg
Type=Application
#NoDisplay=true
