[Desktop Entry]
Encoding=UTF-8
Name=Gimp
Exec=/home/void/.sh/Gimp
MimeType=image/png;image/jpeg
Icon=/home/void/.icons/Breeze-Blue-Dark/apps/48/gimp.svg
Type=Application
